
LyssasOdyssey/\.vs/
/Build/

LyssasOdyssey 4\.21/

Art/3Dmodels/Characters/Owl/OwlActions\.mp4
Art/3Dmodels/World/Rocks/Rock02tmp\.fbx

Stats/LocMetricsFunctions\.html

ProjectMonitoring/Timeline/\.idea/
ProjectMonitoring/Timeline/ref/

*.kra~
*.png~
